{% extends 'base.html' %}

{% block content %}

<h1 class="text-center text-3xl font-bold text-white mb-4">
    OBS: Before you create articles, be sure that you have the type of article you want to create.
</h1>
<div class="flex flex-col w-full">

    
    
    <form action="{{url_for('articles.create')}}" method="post">
        <input type="text" name="name" class="form-control-1">
        <input type="text" name="description" class="form-control-1">
        <label for="is_producible">Is it producible</label>
        <input type="checkbox" name="is_producible" id="" class="relative w-8 h-8 aspect-square !appearance-none !bg-none checked:!bg-gradient-to-tr checked:!from-sky-400 checked:!to-white bg-white border border-gray-300 shadow-sm rounded !outline-none !ring-0 !text-transparent !ring-offset-0 checked:!border-sky-400 hover:!border-sky-400 cursor-pointer transition-all duration-300 ease-in-out focus-visible:!outline-offset-2 focus-visible:!outline-2 focus-visible:!outline-sky-400/30 focus-visible:border-sky-400 after:w-[35%] after:h-[53%] after:absolute after:opacity-0 after:top-[40%] after:left-[50%] after:-translate-x-2/4 after:-translate-y-2/4 after:rotate-[25deg] after:drop-shadow-[1px_0.5px_1px_rgba(56,149,248,0.5)] after:border-r-[0.30em] after:border-r-white after:border-b-[0.30em] after:border-b-white after:transition-all after:duration-200 after:ease-linear checked:after:opacity-100 checked:after:rotate-45">
    
        <select name="type_unit" id="">
            {% for type_unit in context.type_units %}
                <option value=" {{ type_unit.id }}">{{ type_unit.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create" class="btn-primary">
    
    </form>
    
    
    
    <a href="{{url_for('articles.type_unit.view')}}" class="btn-primary-rounded w-3/12">Units</a>
</div>


<div class="w-full flex">

    <table>
        <thead>
            <th class="border border-slate-600 text-red-400 w-1/5">Article ID</th>
            <th class="border border-slate-600 text-red-400 w-1/5">Name</th>
            <th class="border border-slate-600 text-red-400 w-1/5">Description</th>
            <th class="border border-slate-600 text-red-400 w-1/5">Type</th>
            <th class="border border-slate-600 text-red-400 w-1/5">is producible</th>
        </thead>
        <tbody>
            {% for article in context.articles %}
            <tr>
                <td class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">{{ article.id }}</td>
                <td class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">{{ article.name }}</td>
                <td class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">{{ article.description }}</td>
                <td class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">{{ article.type.name }}</td>
                <td class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">{{ article.is_producible }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
</div>

{% endblock %}