{% extends 'base.html' %}

{% block content %}

<h1 class="text-center text-3xl font-bold dark:text-white text-emerald-600 mb-4">
    Article creator
</h1>
<p class="m-4 text-center dark:text-white">Here you can set a new article to use in your store!
    You also are able to set it as a producible article for example or as a stockable article.
</p>
<div class="grid grid-cols-12 m-4 ">

    <form action="{{url_for('articles.create')}}" method="post" class="col-span-12 lg:col-span-6 *:font-bold">
        <label for="name" class="font-bold">Article Name</label>
        <input type="text" name="name" class="form-control-2  ">

        <label for="description">Description</label>
        <input type="text" name="description" class=" form-control-1  focus:bg-emerald-100 focus:outline-none focus:border-0 focus:h-[20%] focus:text-3xl focus:text-center transition-all">

        <label for="type_unit" class="">Unit</label>
        <select name="type_unit" id="" class="form-control-1 ">
            {% for type_unit in context.type_units %}
            <option value=" {{ type_unit.id }}">{{ type_unit.name }}</option>
            {% endfor %}
        </select>
        
        <div class="flex items-center ps-4 border border-emerald-400 mt-4 p-1  space-x-4 md:w-full">
            <label for="is_producible" class="text-xl font-bold">Is it producible?</label>
            <input type="checkbox" name="is_producible" id="" class="w-7 h-7 " checked>
        </div>
        <div class="flex items-center ps-4 border border-emerald-400 mt-4 p-1  space-x-4 md:w-full">
            <label for="stockable" class="text-xl font-bold">Can this article be stocked</label>
            <input type="checkbox" name="stockable" id="" class="w-7 h-7" checked>

        </div>

        <input type="submit" value="Create" class="btn-primary">
    </form>

    
    
    
    <div class="md:col-span-6 col-span-12 border overflow-x-scroll">
            <table class="table-auto w-full h-full ">
                <thead class="bg-red-600">
                    <th >ID</th>
                    <th >Name</th>
                    <!-- <th >Description</th> -->
                    <th >Type</th>
                    <th >Producible</th>
                    <th >Stockable</th>
                    <th >Edit</th>
                </thead>
                <tbody>
                    {% for article in context.articles %}
                    <tr class="">
                        <td class="">{{article.id}}</td>
                        <td class="">
                            {{article.name}}
                        </td>
                        <!--
                            <td class="text-nowrap text-pretty">
                                {{article.description}}
                            </td>
                        -->
                        <td class="">
                            {{article.type.alias}}
                        </td>
                        <td class="">
                            <input type="checkbox" name="" id="" {% if  article.is_producible %}
                            checked
                             
                            {% endif %} disabled>
                            
                        </td>
                        <td class="">
                            <input type="checkbox" name="" id="" {% if  article.stockable %}
                            checked
                             
                            {% endif %}  disabled class="disabled:bg-slate-600">
                        </td>
                        <td>
                            <a href="{{url_for('articles.edit_view', article_id=article.id)}}" class="btn-primary">EDIT</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
            
    </div>
    <br>
    <h1 class="col-span-12 text-center">Go to the articles Units</h1>
    <a href="{{url_for('articles.type_unit.view')}}" class="btn-primary-rounded col-span-12 text-center flex items-center justify-center">Units Creator</a>
</div>



{% endblock %}