/flaskr/__pycache__
/flaskr/tests/__pycache__
/flaskr/models/__pycache__
/flaskr/blueprints/login/__pycache__
/venv
/Sistem-Store/flaskr/models/__pycache__
/venv
/Sistem-Store/vevn
/Sistem-Store/flaskr/__pycache__
/Sistem-Store/flaskr/blueprints/tasks/__pycache__
/Sistem-Store/flaskr/blueprints/home/__pycache__
/Sistem-Store/flaskr/blueprints/__pycache__
/Sistem-Store/flaskr/blueprints/__pycache__
/Sistem-Store/flaskr/blueprints/__pycache__
/Sistem-Store/flaskr/blueprints/stock/__pycache__
/Sistem-Store/flaskr/blueprints/tasks/__pycache__
/Sistem-Store/flaskr/blueprints/users/__pycache__