/flaskr/blueprints/__pycache__/__init__.cpython-312.pyc
/flaskr/__pycache__
/flaskr/blueprints/login/__pycache__
/flaskr/__pycache__
/flaskr/tests/__pycache__
/flaskr/models/__pycache__
/flaskr/blueprints/login/__pycache__
/venv
/Sistem-Store/flaskr/models/__pycache__
/venv
/Sistem-Store/vevn
/Sistem-Store/flaskr/__pycache__
/Sistem-Store/flaskr/blueprints/tasks/__pycache__
/Sistem-Store/flaskr/blueprints/home/__pycache__
/Sistem-Store/flaskr/blueprints/__pycache__
/Sistem-Store/flaskr/blueprints/__pycache__
/Sistem-Store/flaskr/blueprints/__pycache__
/Sistem-Store/flaskr/blueprints/stock/__pycache__
/Sistem-Store/flaskr/blueprints/tasks/__pycache__
/Sistem-Store/flaskr/blueprints/users/__pycache__
flaskr/blueprints/users/__pycache__/bp_users.cpython-312.pyc
flaskr/blueprints/users/__pycache__/bp_edit_user.cpython-312.pyc
flaskr/blueprints/tasks/__pycache__/task_service.cpython-312.pyc
flaskr/blueprints/tasks/__pycache__/task_schema.cpython-312.pyc
flaskr/blueprints/tasks/__pycache__/task_model.cpython-312.pyc
__pycache__/CONFIG.cpython-312.pyc
flaskr/blueprints/tasks/__pycache__/bp_tasks.cpython-312.pyc
flaskr/blueprints/stock/__pycache__/bp_stock.cpython-312.pyc
flaskr/blueprints/home/__pycache__/bp_home.cpython-312.pyc
flaskr/blueprints/users/__pycache__/users_model.cpython-312.pyc
flaskr/blueprints/users/__pycache__/bp_create_user.cpython-312.pyc
flaskr/blueprints/users/__pycache__/user_service.cpython-312.pyc
/flaskr/blueprints/users/services/__pycache__
/flaskr/blueprints/users/views/__pycache__
/flaskr/blueprints/users/models/__pycache__
flaskr/blueprints/login/services/__pycache__/login_service.cpython-312.pyc
flaskr/blueprints/stores_management/service/__pycache__/stores_service.cpython-312.pyc
flaskr/blueprints/stores_management/models/__pycache__/store_model.cpython-312.pyc
flaskr/blueprints/home/views/__pycache__/bp_home.cpython-312.pyc
/flaskr/tailwind
flaskr/blueprints/stores_management/services/__pycache__/stores_service.cpython-312.pyc
flaskr/blueprints/stores_management/services/__pycache__/stores_service.cpython-312.pyc
flaskr/blueprints/stores_management/view/__pycache__/stores.cpython-312.pyc
flaskr/blueprints/stores_management/services/__pycache__/stores_service.cpython-312.pyc
flaskr/blueprints/stores_management/services/__pycache__/stores_service.cpython-312.pyc
/flaskr/blueprints/stores_management/services/__pycache__
/flaskr/blueprints/homepage/__pycache__
/flaskr/blueprints/homepage/views/__pycache__
/flaskr/blueprints/login/services/__pycache__
/flaskr/blueprints/stores_management/models/__pycache__
/flaskr/blueprints/stores_management/view/__pycache__
/venv2
/tailwind
flaskr/blueprints/__pycache__/__init__.cpython-311.pyc
flaskr/blueprints/login/views/__pycache__/LoginView.cpython-312.pyc
/flaskr/blueprints/production/services/__pycache__
/flaskr/blueprints/production/views/__pycache__
/flaskr/blueprints/production/models/__pycache__
/flaskr/blueprints/tasks/models/__pycache__
flaskr/blueprints/tasks/services/__pycache__/TaskService.cpython-312.pyc
flaskr/blueprints/tasks/views/__pycache__/TaskView.cpython-312.pyc
flaskr/blueprints/login/views/__pycache__/LoginView.cpython-312.pyc
/flaskr/blueprints/tasks/views/__pycache__
/flaskr/blueprints/login/views/__pycache__
/node_modules
__pycache__/run.cpython-312.pyc
/flaskr/blueprints/articles/__pycache__
flaskr/blueprints/articles/views/__pycache__/ArticlesView.cpython-312.pyc
flaskr/blueprints/articles/services/__pycache__/ArticlesService.cpython-312.pyc
flaskr/blueprints/articles/models/__pycache__/ArticleModel.cpython-312.pyc
/flaskr/migrations
/.venv
/venvdesk