/.idea
/.vscode
/node_modules
/System/__pycache__
/System/managers/__pycache__
/System/managers/__pycache__/users.cpython-311.pyc
/venv
myvenv
.vscode
tailwind/node_modules
System/databases/
System/models/__pycache__
