{% extends "base.html" %}~

{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block store_title %}
    <div>
        <h1> {{ current_user.username }}</h1>
        <h1 class="title-primary text-center">
            Gestão {{context.store_name | title }}
        </h1>
        
    </div>
{% endblock %}

{% block user_title %}
    
{% endblock %}

{% block content  %}

    {% for task in context.t %}


        <p>{{task.name}}</p>
        <p>{{ task.description }}</p>

     
    {% endfor %}

    <!-- Can´t edit if not admin -->
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}

                <div class="w-full flex justify-center">
                    <div class="w-5/6 h-48 border border-emerald-500 m-4">
                        <h1 class="m-4 text-white"> {{ message }}</h1>
                    </div>
                    
                </div>
                    
                {% endfor %}
            {% endif  %}
    {% endwith %}
    
    <!-- Search Bar if admin -->
    {% if context['level'] == 'admin'%}
    <div class="w-full h-8 flex justify-center mb-4 space-x-1">
        <div class="w-1/6">
            <h1 class="select-primary p-0 h-full flex justify-center items-center ">Select an store</h1>
        </div>
        <form action="/homepage/{{date_for}}/{{store_to_show}}" class="flex" method="post">
            
            <select name="store_by_select_form" id="" class="select-primary w-44 p-0 text-center h-full">
                
            </select>
            
            <button type="submit" class="btn-primary-rounded w-20 my-0 ml-1 h-full">Show</button>
        </form>
    </div>
    {% endif %}
    {# Admin section #}
    <div class="w-full flex justify-center">
        {% if not context['level'] == 'admin' %}
            <div class="container-primary">
                <div class="m-4">
                    <h1 class="title-primary text-yellow-400"> Adiministrator Section*</h1>
                    <p class="information-primary">This section is desnatited to the store managers, here you can acess users, stock and more</p>
                </div>
                <div class="ml-4">

                    <form action="/users" class="flex w-3/12">
                        <button type="submit" class="btn-primary hover:bg-red-700 hover:border-none">Access users</button>
                    </form>
                    <form action="{{url_for('stock_bp.stock_page')}}" class="flex w-3/12">
                        <button type="submit" class="btn-primary">Access Stock</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    
    <!-- Tasks Card -->
    <div class="w-full flex justify-center">
        <div class="container-primary">
            <div class="m-4">
                <h1 class="title-primary">Tasks to do</h1>
                <p class="information-primary">You can add some task to the store</p>

                <div class="space-y-4 mt-4">
                    {% if context['tasks'][0] %}
                        {% for task in context.tasks %}
                            <div class="flex justify-around container-primary w-full m-0 items-center
                            hover:border-emerald-800">
                                    <div class="w-8/12 p-2">
                                        <h4 class="title-primary text-yellow-500 mt-0"> {{ task.name }}</h4>
                                        <h4 class="information-primary ml-4">{{task.description}}</h4>
                                        <h4 class="information-primary ml-4">{{task.id}}</h4>
                                    </div>

                                    <form action="/tasks/{{date_for}}/{{store_to_show}}/concluded" method="POST" class="w-2/12">
                                        <input type="text" name="{{task.id}}" hidden>
                                        <button type="submit" class="btn-primary m-0 w-[90%]">Finish</button>
                                    </form>

                                    <form action="{{ url_for('tasks_bp.delete') }}" method="POST" class="w-2/12">
                                        <input type="text" name="task_id" value="{{task.id}}" hidden>
                                        <button type="submit" class="btn-primary m-0 w-[90%] hover:bg-red-800 border-none hover:border-none transition-all duration-300">Delete</button>
                                    </form>"
                            </div>
                        {% endfor %}
                    {% else  %}
                        <h1 class="sub-title-primary line-through">Empty to do list</h1>
                    {% endif %}
                    
                    <h1 class="title-primary text-xl">Concluded tasks</h1>
                    
                </div>
                

                <form action="{{ url_for('tasks_bp.create') }}" method="POST" class="mt-4">
                    <label for="task_to_send" class="sub-title-primary">Add some task</label>
                    <input type="text" name="task_to_send" class="form-control-1">

                    <label for="task_to_send" class="sub-title-primary">description</label>
                    <input type="text" name="task_description" class="form-control-1">
                    <button type="submit" class="btn-primary"> Create task </button>
                </form>
                    
            </div>
            
        </div>
    </div>  
    


    <!-- Production Card -->
    <div class="w-full flex justify-center">
        <!-- Container -->
        <div class="container-primary">
            <div class="m-4">
                <h1 class="title-primary">Insert the Production</h1>
                <p class="information-primary">Insert here the day production</p>
            </div>
            <section class="flex w-full">
                <form action="/production/{{ date_for }}/{{ store_to_show }}" class="flex flex-col w-3/6 m-4 " method="POST" id="production-form">
                    {% set customer = ({"Name":"Peter","Surname": "Smith"})	%}
                    {% for article, article_name in  customer.items() %}
                    <!-- Inputs of production -->
                        <div class="w-full flex justify-between">
                            <div class="w-[50%]">
                                <label for="{{article}}" class="text-sm text-white font-semibold"> {{article_name}}</label>
                                <input type="number" name="{{article}}" class="form-control-1" value="0" id="{{article}}" >  
                            </div>
                            <div class="w-2/5">
                                {% if article == 'big_ball' %}
                                <div class="h-7 ">
                                    <label for="amount_{{article}}" class="text-sm text-white font-semibold sm:text-sm  ">Total of the day</label>
                                </div>
                                    
                                    <input type="number" value="{{ customer }}" class="form-control-1 text-center" disabled>
                                {% else %}
                                    <div class="h-7 w-full"></div>
                                    <input type="number" value="{{ customer }}" class="form-control-1 text-center" disabled>
                                {% endif %}
                            </div>
    
                            
    
    
                        </div>
                    {% endfor %}
                    <div class="w-full">
                        <button type="button" class="btn-primary-rounded w-3/6" id="submit-production-btn">Send</button>
                    </div>
                    
                </form>
                <!-- Chart Js -->
                
    
                <div class="m-4 w-full" >
                    <canvas id="myChart"></canvas>
                </div>
    
            </section>
            
        </div>
        
        
    </div>
    <!-- Consume Card -->
    <div class="w-full flex justify-center mt-4">
        <!-- Container -->
        <div class="container-primary flex">
            <section class="w-3/6">
                <div class="m-4">
                    <h1 class="title-primary">Enter your consume</h1>
                    <p class="information-primary">Insert here each worker and its consumes</p>
                </div>

                
    
                <form action="/consume/{{date_for}}/{{store_to_show}}" class="flex flex-col m-4" method="POST">
    
                    <label for="big_ball" class="text-lg text-white font-semibold">Slices</label>
                    <input type="number" name="slice" class="form-control-1" value="0">
    
                    <label for="big_ball" class="text-lg text-white font-semibold">Garlic Bread</label>
                    <input type="number" name="bread" class="form-control-1" value="0">
                    
                    <label for="" class="text-lg text-white font-semibold">Worker</label>
    
                    <select name="who_consume" id="" class="select-primary" >
                        {% for user in context['workers'] %}
                        <option value="{{user['username']}}">{{user['username']}}</option>
                        {% endfor %}
                    </select>
                    
                    <button type="submit" class="btn-primary-rounded w-3/6">Send</button>
                </form>
            </section>


            <div class="w-3/6 m-4">
                <canvas id="consumeChart"></canvas>
            </div>

        </div>
    </div>
    <!-- Wasted Items -->
    <div class="w-full flex justify-center mt-4">
        <!-- Container -->
        <div class="container-primary">
            <div class="m-4">
                <h1 class="title-primary">Enter the Wasted</h1>
                <p class="information-primary">Insert here the wasted articles and its amount</p>
            </div>

            <form action="/waste/{{date_for}}/{{store_to_show}}" method="POST" class="flex flex-col m-4">

                <label for="big_ball" class="text-lg text-white font-semibold">Big Ball</label>
                <input type="number" name="big_ball" class="form-control-1">

                <label for="big_ball" class="text-lg text-white font-semibold">Small Balls</label>
                <input type="number" name="small_ball" class="form-control-1">

                <label for="big_ball" class="text-lg text-white font-semibold">Garlic Bread</label>
                <input type="number" name="garlic_bread" class="form-control-1">

                <label for="big_ball" class="text-lg text-white font-semibold">Slices</label>
                <input type="number" name="slices" class="form-control-1">

                <select name="who_consume" id="" class="select-primary mt-4" >
                    {% for user in context['workers'] %}
                    <option value="{{user['username']}}">{{user['username']}}</option>
                    {% endfor %}
                </select>

                </select>
                <button type="submit" class="btn-primary">Enter</button>
            </form>

        </div>
    </div>
    
    <h1>
        {{ context.chart_data, store_to_show }}
    </h1>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
{% endblock %}
