{% extends "base.html" %}

{% block content %}

<h1 class="title-primary"> Create your tasks</h1>
{% if context.to_do %} 
<div class="w-full">
    <form action="{{url_for('daily_tasks.set_as_done', date=g.date)}}" method="post" class="w-full">
        <table class="w-full">
            <thead class="w-full bg-emerald-400">
                <tr class="w-full *:text-center *:font-medium">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in context.to_do %}
                <tr class="*:text-center *:odd:bg-slate-100 *:p-4">
                    <td>
                        {{task.task.id}}
                    </td>
                    <td>
                        {{task.task.name}}
                    </td>
                    <td>
                        {{task.task.description}}
                    </td>
                    <td>
                        <input type="checkbox" name="{{task.task.id}}" id="" {% if task.status %} checked {% endif %}>
                    </td>
                </tr>
                 
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn-primary">Finish selected tasks</button>
    </form>
</div>
{% else %}
<div class="w-full text-center">
    <h1 class="information-primary">You have no tasks</h1>
</div>
{% endif %}


{% if not current_user.level %}
<h1 class="title-primary">Create new task</h1>
<span class="information-primary">Here you can create a new daily task</span>
<div class="m-4">
    <form action="{{url_for('daily_tasks.create')}}" class="bg-slate-500 p-2" method="post">
        <label for="name">Task name</label><br>
        <input type="text" name="name"><br>
        <label for="description">Task description</label>
        <input type="text" name="description">
        <button type="submit" class="btn-primary">Create</button>
    </form>
</div>
 
{% endif %}
{% endblock content %}