{% extends "base.html" %}

{% block title %}
    <title>Stores Manager</title>
{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% for message in messages%}
    {{ message }}
    <br><br>
{% endfor %}
{% endwith %}


<div class="m-4">
    <h1 class="title-primary"> Create a Store </h1>
    <span class="information-primary">Create a store to be handle and set its properties</span>
    <form action="{{ url_for('store.create') }}" method="POST">
        <label for="name" class="text-lg text-white font-semibold">Store Name</label>
        <input type="text" name="name" id="name" class="form-control-1">

        <label for="id" class="text-lg text-white font-semibold">Store Id</label>
        <input type="number" name="id" id="id" class="form-control-1">

        <label for="id" class="text-lg text-white font-semibold">Store Id</label>
        <select name="place" id="place" class="form-control-1">
            <option value="street">street</option>
            <option value="shopping">shopping</option>
        </select>
        <input type="submit" value="Create Store" class="btn-primary">
    </form>
    
</div>
<div class="m-4">
    <h1 class="title-primary">Existents Stores</h1>
    <span class=""></span>
</div>
<div class="container-primary w-auto p-4 rounded-xl">
    <div class="w-full rounded-lg overflow-hidden border-2 border-emerald-400">
        <table class=" w-full bg-white ">
            <tr class="thead-primary *:text-center">
                <td>Id</td>
                <td>Name</td>
                <td>Place</td>
            </tr>
            <tbody>
                {% for store in stores %}
                    <tr class="*:text-center odd:bg-slate-100 *:text-black">
                        <td class="px-6 py-4 text-sm text-gray-500">
                            {{store.id}}
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-500">
                            {{store.name}}
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-500">
                            {{store.place}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    




{% endblock content %}