{% extends "base.html" %}

{% block content %}

<div class="m-4 border min-h-full max-h-fit">

    <section>
        <div class="m-4">
            <form action="{{ url_for('users_page_bp.edit_user.edit_user', username=context['username']) }}" method="POST">
                <input type="text" hidden name="old_username" value="{{context.username}}">
                <input type="text" name="username" value="{{context.username}}">
                <input type="text" name="email"  value="{{context.email}}">
                <select name="store" id="" class="select-primary ">
                    {% for store in context.stores %}
                        <option value="{{store.id}}"> {{store.name}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Edit</button>
            </form>
        </div>
    </section>
    
    
    <div class="border m-4 h-56">
        <form action="{{url_for('users_page.edit_user.edit', username=context['username'])}}" method="POST">
            <input type="hidden" name="old_username" value="{{context.username}}">
            <button type="submit" class="btn-primary w-3/12">Delete</button>
        </form>
    </div>

    

</div>

{% endblock %}