{% extends "base.html" %}

{% block content %}

<div class="m-4 border min-h-full max-h-fit">

    <section>
        <div class="m-4">
            <form action="{{ url_for('users.edit_user.update', username=context.user.username) }}" method="POST">
                <input type="text" name="username" value="{{context.user.username}}" hidden>
                <input type="text" name="new_username" value="{{context.user.username}}">
                <input type="text" name="email"  value="{{context.user.email}}">
                <select name="store" id="" class="select-primary ">
                    {% for store in context.stores %}
                        {% if store.id == context.user.store %}
                            <option value="{{store.id}}" selected> {{store.name}}</option>
                        {% endif %}
                        <option value="{{store.id}}"> {{store.name}} </option>
                    {% endfor %}
                </select>
                <button type="submit">Edit</button>
            </form>
        </div>
    </section>
    
    
    <div class="border m-4 h-56">
        <form action="{{url_for('users.edit_user.delete', username=context['username'])}}" method="POST">
            <input type="hidden" name="old_username" value="{{context.username}}">
            <button type="submit" class="btn-primary w-3/12">Delete</button>
        </form>
    </div>

    

</div>

{% endblock %}