{% extends "base.html" %}

{% block content %}

<form action="{{url_for('articles.edit', article_id=article.id)}}" class="" method="post">
    
    <input type="text" name="article_id" value="{{article.id}}" class="form-control-1">
    <input type="text" name="name" value="{{article.name}}" class="form-control-1">
    <input type="text" name="description" value="{{article.description}}" class="form-control-1">
    <select name="type_unit" id="" class="form-control-1">
        {% for type_unit in types %}
        <option value="{{type_unit.id}}">{{type_unit.name}}</option>
        {% endfor %}
    </select>

    <div class="border m-4 p-2 flex items-center justify-center">
        <label for="is_producible" class="sub-title-primary">Is Producible</label>
        <input type="checkbox" name="is_producible" value="{{article.is_producible}}" {% if article.stockable %} checked {% endif %} class="form-control-1">
    </div>

    <div class="border m-4 p-2 flex items-center justify-center">
        <label for="stockable" class="sub-title-primary">Is stockable</label>
        <input type="checkbox" name="stockable"  {% if article.stockable %} checked {% endif %} class="form-control-1">
    </div>

    <input type="submit" value="Edit {{article.name}}" class="btn-primary">

</form>
<h1>
    {{article.stockable }}
</h1>
<h1>
    {{article.is_producible }}
</h1>
{% endblock content %}