{% extends "base.html" %}

{% block content %}

{% set article = context.article %}



<div class="m-4">
    <h1 class="title-primary">Edit article</h1>
    <h1 class="sub-title-primary">Edit the article information</h1>
    <br>


    <form action="{{url_for('articles.update', article_id=article.id)}}" class="" method="post">
        <label for="" class="sub-title-primary">Article ID:</label>
        <input type="text" name="article_id" value="{{article.id}}" class="form-control-1">
    
    
        <label for="" class="sub-title-primary">Name</label>
        <input type="text" name="name" value="{{context.article.name}}" class="form-control-1">
        <label for="" class="sub-title-primary">Description</label>
        <input type="text" name="description" value="{{article.description}}" class="form-control-1">
    
        <label for="" class="sub-title-primary">Unit</label>
        <select name="type_unit" id="" class="form-control-1">
            {% for type in context.types  %}
            <option value="{{type.id}}" {% if article.type.id == type.id %} selected {% endif %}>{{type.name}}</option>
             
            {% endfor %}
        </select>

        <label for="price" class="sub-title-primary">Price per unit (PPU)</label>
        <input type="number" name="price" value="{{article.price}}" class="form-control-1" step="0.1">
        
        <label for="">Shelf life:</label>
        <input type="number" value="{{article.shelf_life}}" class="form-control-1" name="shelf_life">

        <h1 class="title-primary">
            Article details
        </h1>
        <h1 class="sub-title-primary">
            Mark the options relevants for the article
        </h1>
        <span class="information-primary">Note: if you set the article as not active, this article will not show in the stock and production page</span>
        <div class="w-full overflow-hidden">

            <table class="w-full">
                <thead class="*:bg-emerald-400 ">
                    <tr class="*:p-4">
                        <th>
                            Detail
                        </th>
                        <th>
                            On/Off
                        </th>
                    </tr>
                </thead>
                <tbody  class="bg-white *:text-slate-900">
                    <tr class="odd:bg-slate-100">
                        <td class="text-center *:p-2">
                            <label for="active" class="sub-title-primary text-black">Active</label>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="active" {% if article.active %} checked {% endif %} class="form-control-1 text-black">
                        </td>
                    </tr>
                    <tr class="odd:bg-slate-100 *:p-2">
                        <td class="text-center">
                            <label for="is_active" class="sub-title-primary text-black">Is producible</label>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="is_producible" {% if article.is_producible %} checked {% endif %} class="form-control-1">
                        </td>
                    </tr>
                    <tr class="odd:bg-slate-100 *:p-2">
                        <td class="text-center">
                            <label for="is_active" class="sub-title-primary text-black">Is stockable</label>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="is_stockable" {% if article.stockable %} checked {% endif %} class="form-control-1 text-black">
                        </td>
                    </tr>
                    <tr class="odd:bg-slate-100 *:p-2">
                        <td class="text-center">
                            <label for="is_active" class="sub-title-primary text-black">More examples(Possibilities)</label>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="is_stockable"  {% if article.stockable %} checked {% endif %} class="form-control-1 text-black">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
        <input type="submit" value="Edit {{article.name}}" class="btn-primary">
    
    </form>
</div>
<div class="m-4">
    <h1 class="title-primary"> Delete this article</h1>
    <span class="information-primary text-red-600">Are you sure you want to delete this article?</span>

    <br>
    <span class="information-primary text-yellow-600">!!! It will remove all the information related to this article in the database including the production and stock relationed to this article !!!</span><br>
    <span class="information-primary ">Instead delete, you can deactive the article, in new stocks and productions it will not show.</span>

    <form action="{{url_for('articles.delete', article_id=article.id)}}" method="post">
        <input type="hidden" name="article_id" value="{{article.id}}">
        <button type="button" class="btn-primary" id="deleteBtn">Delete {{article.name}}</button>
    </form>
</div>

<script src="{{url_for('articles.static', filename='delete.js')}}"></script>

{% endblock content %}