{% extends "base.html" %}
~
{% block content %}

<form action="{{
    url_for('production.create')
}}" method="post">
    <select name="article_id" id="">
        {% for article in context.articles %}
            <option value="{{ article.id }}">{{ article.name }}</option>
        {% endfor %}
    </select>
    <input type="number" name="quantity" id="">
    <input type="datetime-local" name="date" id="">

    <button type="submit">Create</button>
</form>
 

{% for production in context.productions %}
    <h1>{{ production.creator.username }}</h1>
 
{% endfor %}

{% endblock content %}