{% extends "base.html" %}
~
{% block content %}




<h1 class="title-primary m-4">Productions for {{today_date}}
</h1>


<form action="{{url_for('production.home')}}" class="m-4">
    <label for="lenght" class="sub-title-primary"> Set how many days to show on chart</label>
    <select name="lenght" id="">
        <option value="7">Last Week</option>
        <option value="14">Last 2 Week</option>
        <option value="21">Last 3 Week</option>
        <option value="30">Last Month</option>
    </select>
    <select name="chart_type" id="">
        <option value="bar">Bar</option>
        <option value="line">Line</option>
        <option value="pie">Pie</option>
    </select>
    <button type="submit" class="btn-primary">Limit</button>
</form>

<form action="{{url_for('production.home')}}" class="m-4">
    <label for="lenght" class="sub-title-primary"> Set how many days to show on chart</label>
    
    <button type="submit" class="btn-primary">Limit</button>
</form>



<div class="w-full h-fit">
    <div class="border m-4 grid grid-cols-12">

        <form action="{{url_for('production.create')}}" method="post" class="col-span-6">
    
            <table class="bg-slate-500  w-full ">
                <tr class="grid grid-cols-12  border border-slate-900">
                    <th class="col-span-5">Article</th>
                    <th class="col-span-4">Produced quantity</th>
                    <th class="col-span-3">total</th>
                </tr>
                {% for article in context.articles %}
                    <tr class="grid grid-cols-12 *:border-separate">
                        <td class="text-left col-span-5 flex justify-start items-center font-bold border border-slate-900">{{article.name}}</td>
                        <td class="col-span-4 flex justify-start items-center border border-slate-900">
                            <input type="number" name="{{article.id}}" value="0" class="form-control-1 w-[60%]">
                            <span class="text-sm">{{article.type.name}}</span>
                        </td>
                        <td class="col-span-3 flex justify-start items-center border border-slate-900 *:border-separate">
                            {% if article.id in context.produced %}
                                <input type="number" value="{{context.produced[article.id]}}" class="form-control-1 w-16" disabled>
                            {% else %}
                                <input type="number" value="0" class="form-control-1 w-16" disabled>
                            {% endif %}
                            <span class="text-sm">{{article.type.name}}</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input type="datetime-local" name="date" required class="form-control-1" value="{{date}}">
            <button class="btn-primary" type="submit">Submit</button>
        </form>
        <div class="col-span-6">
            <canvas id="myChart" ></canvas>
          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: '{{context.type}}',
              data: {
                labels: {{context.chartlabels | tojson}},
                datasets: {{context.chartdata | tojson}}
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
        </div>
    
    
</div>

<div class="w-full flex">
    <table class="border-collapse bg-slate-500 w-full container-primary border rounded-sm">
        <tr class="*:border *:p-4">
            <th>article</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Store</th>
            <th>Who realease</th>
        </tr>
        {% for production in context.history %}
            <tr class="*:border *:text-white *:odd:bg-slate-700 *:p-2">
                <td class="text-center">{{production.article.name}}</td>
                <td class="text-center">{{production.quantity}}</td>
                <td class="">{{production.date.strftime('%Y-%m-%d at %H:%M') }}</td></td>
                <td class="">{{production.store.name}}</td>
                <td class="">{{production.creator.username}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}