
{% extends "base.html" %}
{% block title %}
 <title>System Login</title>
{% endblock title %}
{% block content %}

<div class="h-full w-full ">
    <div class="flex w-full h-full justify-center  items-center ">
        <form action="{{url_for('auth.login')}}" method="post" class=" h-4/6 w-5/6  shadow-lg md:w-2/6 md:p-4">
            <h1 class="title-primary">Control your business</h1>
            <p class="sub-title-primary text-wrap w-[80%]">Insert your credentials to login</p>
            <br><br>
            <div class="p-2">
                <label for="email" class="sub-title-primary">Email</label>
                <input type="email" name="email" id="" class="form-control-1">
                <label for="password" class="sub-title-primary">Password</label>
                <input type="password" name="password" id="" class="form-control-1">
                <button class="btn-primary-rounded">Enter</button>
            </div>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            <h1 class="m-4 sub-title-primary text-red-400" > {{ messages[0] }}</h1>
                    {% endif  %}
                {% endwith %}
            </div>
        <br><br>
        <h1 class="title-primary p-2">Don't have an account? <br>
            <a href="{{url_for('users.create_user.create_user_page')}}" class="sub-title-primary hover:underline "> Register here</a>
        </h1>
        </form>
        
    </div>
    
</div>



{% endblock content %}
