{% extends "base.html" %}

{% block script %}


 
{% endblock script %}

{% block title %}
    <title>Homepage</title>
{% endblock %}



{% block store_title %}
    <div>
        <h1 class="title-primary text-center">
            {{store_name | title}} Store
        </h1>
        
    </div>
{% endblock %}


{% block content  %}

    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}

                <div class="w-full flex justify-center">
                    <div class="w-5/6 h-48 border border-emerald-500 m-4">
                        <h1 class="m-4 text-white"> {{ message }}</h1>
                    </div>
                    
                </div>
                    
                {% endfor %}
            {% endif  %}
    {% endwith %}

    <div class="w-full flex justify-center">
        <div class="container-primary">
            <div class="m-4">

                <h1 class="title-primary">
                    Manager Section
                </h1>
                <p class="sub-title-primary">Here are the functions that just the managers can see</p>
                <div class="md:grid md:grid-cols-4 md:*:col-span-1 md:space-x-2">
                    <form action="{{url_for('stock.index')}}">
                        <button type="submit" class="btn-primary">View stock levels</button>
                    </form>
                    <form action="{{url_for('production.home')}}">
                        <button type="submit" class="btn-primary">View daily production</button>
                    </form>
                    <form action="{{url_for('daily_tasks.index')}}">
                        <button type="submit" class="btn-primary">View daily tasks</button>
                    </form>
                    <form action="{{url_for('shelflife.home')}}">
                        <button type="submit" class="btn-primary">Production shelf life </button>
                    </form>
                    <form action="{{url_for('orders.index')}}">
                        <button type="submit" class="btn-primary">Create order </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if current_user.level <= 1 %}
     
    <div class="w-full flex justify-center">
        {% if current_user.level < 2 %}
            <div class="container-primary">
                <div class="m-4">
                    <h1 class="title-primary "> Adiministrator Section*</h1>
                    <p class="information-primary">This section is intended to the Admin</p>
                </div>
                <div class="m-4">
                    
                    <form action="{{url_for('users.index')}}">
                        <button type="submit" class="btn-primary">Manager users</button>
                    </form>

                    <form action="{{url_for('articles.index')}}">
                        <button type="submit" class="btn-primary">Create or View Articles</button>
                    </form>
                    <form action="{{url_for('store.index')}}">
                        <button type="submit" class="btn-primary">Manager stores</button>
                    </form>
                    <form action="{{url_for('providers.home')}}">
                        <button type="submit" class="btn-primary">Providers</button>
                    </form>

                    
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    
    <!-- Tasks Card -->
    <div class="w-full flex justify-center">
        <div class="container-primary">
            <div class="m-4">
                <h1 class="title-primary">Tasks to do</h1>
                <p class="information-primary">You can add some task to the store</p>

                <h1 class="sub-title-primary ">Tasks to complete : {{ tasks.active_tasks | length}}</h1>
                <h1 class="sub-title-primary">Finished tasks : {{ tasks.done_tasks | length}}</h1>


                <button class="btn-primary md:w-[20%]" id="show_tasks_btn">Show all tasks</button>
                <div class="space-y-4 mt-4" id="task_panel" hidden>
                    {% if tasks %}
                        {% for task in tasks.all_tasks %}
                            <div class="md:grid md:grid-cols-5 md:w-full md:justify-between md:text-left md:p-2 border p-1 text-center ">
                                    <div class="md:col-span-3 md:spa">
                                        
                                        <h4 class="title-primary"> {{ task.name }}</h4>
                                        <h4 class="sub-title-primary">{{task.description}}</h4>
                                        {% if task.status %}
                                            <p class=" dark:text-white  text-xs information-primary"> Concluded by: {{ task.finisher.username }} <br> at {{task.finished_at}}</p>
                                        {% else %}
                                            <p class=" dark:text-white  text-xs information-primary"> Created by: {{ task.creator.username }} <br> at {{task.created_at}}</p>
                                        {% endif %}
                                        
                                    </div>
                                    {% if not task.status %}
                                        <form action="{{ url_for('tasks.finish', date=g.date) }}" method="POST"  class=" md:col-span-1 md:mr-2">
                                            <input type="text" name="task_id" value="{{task.id}}" hidden>
                                            <button type="button" class="btn-primary" id="finish_btn">Finish</button>
                                        </form>
                                    {% endif %}

                                    <form action="{{ url_for('tasks.delete', date=g.date) }}" method="POST"  class="md:col-span-1 {% if task.status %} md:col-span-2 {% endif %}" id="taskForm">
                                        <input type="text" name="task_id" value="{{task.id}}" hidden>
                                        <button type="button" class="btn-primary" id="delete_btn">Delete</button>
                                    </form>
                            </div>
                        {% endfor %}
                    {% else  %}
                        <h1 class="sub-title-primary line-through">Empty to do list</h1>
                    {% endif %}
                    
                </div>
                

                <form action="{{ url_for('tasks.create') }}" method="POST" class="mt-4">
                    <label for="task_name" class="sub-title-primary">Add some task</label>
                    <input type="text" name="task_name" class="form-control-1">

                    <label for="task_to_send" class="sub-title-primary">description</label>
                    <input type="text" name="task_description" class="form-control-1">
                    <button type="submit" class="btn-primary"> Create task </button>
                </form>
                    
            </div>
            
        </div>
    </div>  
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/script.js"></script>   
    <script src="static/tasks.js"></script>   
    {% endblock %}

