{% extends "base.html" %}




{% block content %}
{% if not current_user.level %}
 
<form action="{{url_for('orders.index')}}" class="m-4">
    <h1 class="title-primary">Select the store that you want to see stock</h1>
    <select name="store_id" id="" class="form-control-1">
        {% for store in stores %}
            <option value="{{store.id}}">{{store.name}}</option>
        {% endfor %}
    </select>
    <button class="btn-primary">Select</button>
</form>
{% endif %}
<div class="container-primary w-auto p-4">
    <h1 class="title-primary pb-4"> Create Here your Order - {{active_store}}</h1>
    <form action="{{url_for('orders.create')}}" method="POST" id="orderForm">
        <input type="number" value="{{request.args.get(store_id)}}" name="store_id">
        <table class=" w-full rounded-xl overflow-hidden" class="bg-white">
            <thead class="bg-white *:text-center *:font-bold">
                <tr>
                    <td class="bg-blue-200">Article</td>
                    {% if date | length > 1 %}
                    <td class="bg-yellow-200">Last week <br>{{date[-2].date.strftime('%Y-%m-%d')}}</td>
                    {% else %}
                    <td class="bg-yellow-200">Last week <br>Empty</td>
                     
                    {% endif %}
                    {% if date %}
                    <td class="bg-green-200">Actual Amount <br> {{date[-1].date.strftime('%Y-%m-%d') or g.date}}</td>
                    {% else %}
                    <td class="bg-green-200">Actual Amount <br>Empty</td>
                     
                    {% endif %}
                    <td class="bg-red-200">Consumed</td>
                    <td class="bg-gray-200">Order</td>
                </tr>
            </thead>
            <tbody class="w-full *:text-center">
                {% if articles %}
                    {% for article in articles %}
                    <tr class="w-full border border-gray-700 *:font-semibold">
                        <td class="bg-blue-200">
                            <label for="">{{article.name}}</label>
                        </td>
                        <td class="bg-yellow-200">
                            <h1>
                                {{before_last_stock.get(article.id, 0) or 0}}
                            </h1>
                        </td>
                        <td class="bg-green-200">
                            <h1>
                                {{
                                    last_stock.get(article.id, 0)
                                }}
                            </h1>
                        </td>
                        <td class="bg-red-200">
                            {{
                                (last_stock.get(article.id, 0) - before_last_stock.get(article.id, 0 ))
                            }}
                        </td>
                        <td>
                            <input type="number" name="{{article.id}}" class="form-control-1 bg-white rounded-none text-black border-0">
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="">
                        <td colspan="5" class="title-primary text-red-400 p-4 bg-gray-100 border-2 border-black"> No articles</td>
                    </tr>
               {% endif %}
           </tbody>
           
       </table>
       <div>
          <section>
              <button type="button" class="btn-primary-rounded" id="createBtn">Create</button>
              <button type="button" class="btn-primary-rounded bg-red-500 border border-red-500 hover:bg-red-600">Cancel</button>
          </section>
       </div>
       <div>
     </div>
    </form>
</div>
<section class="container-primary w-auto p-4">
    <h1 class="title-primary">Orders historic</h1>
    <span class="sub-title-primary">Searching for a previous order? click bellow to access the previous orders</span>
    <div>
        <button onclick="window.location.href = '{{url_for('orders.orders')}}';">Orders history</button>
    </div>
</section>
<script src="static/createOrder.js"></script>
{% endblock content %}

{% block title %}
<title>Create Order</title>
{% endblock title %}