{% extends "base.html" %}

{% block content %}
    {% if orders %}
    
    {% for order in orders %}
    <div class="container-primary shadow-none p-4">
        <h1 class="title-primary">Order id : {{order.id}}</h1>
        <span> Date : {{order.create_at}} <br> store : {{order.store.name}}</span>
        <button onclick="window.location.href = '{{url_for('orders.download', order_id=order.id)}}'">Download</button>
    </div>
    {% endfor %}
    {% else %}
    <div class="container-primary w-auto p-4">
        <h1 class="text-red-400 text-center title-primary">There is no orders yet.</h1>
    </div>
    {% endif %}
    {% if not current_user.level %}
    <div class="container-primary w-auto p-4">

        <label for="" class="title-primary">Filter a store</label>
        <form action="{{url_for('orders.orders')}}" method="post">
            <select name="store_id" id="">
                {% for store in stores %}
                <option value="{{store.id}}">{{store.name}}</option>
                {% endfor %}
            </select>
            <button>Filter</button>
        </form>
    </div>
        
    {% endif %}

{% endblock content %}