{% extends "base.html" %}

{% block content %}
 {% for order in orders %}

    <div class="container-primary p-4 w-auto">
        
            <form action="{{url_for('orders.accept_order')}}" method="POST">
                <h1 class="title-primary">Order ID : {{order.id}}</h1>
                <button type="button" onclick="window.location.href = '{{url_for('orders.download', order_id=order.id)}}'">Download</button>
                <span>ID : {{order.id}}</span>
                <button {% if order.accepted %} class="bg-red-400 border-4 border-red-400 hover:bg-red-300" >Refuse {% else %} > Accept {% endif %} </button>
            </form>
    </div>
  
 {% endfor %}
{% endblock content %}