{% extends "base.html" %}

{% block content %}
    <div class="flex m-4 border">
        {% if context.articles %}
        <table>
            <tr>
                <th>Article</th>
                <th>Last count</th>
                <th>Current count</th>
            </tr>
            {% for article in context.articles %}
                <tr>
                    <td>{{article}}</td>
                    <td>{{context.store_stock.get(article, 0)}}</td>
                    <td>{{context.store_stock.get(article, 0)}}</td>
                </tr>
            {% endfor %}
        </table>

        {% else %}
            <p>No articles in stock</p>
        {% endif %}
    </div>
    
{% endblock content %}
a