{% extends "base.html" %}

{% block content %}
    <div class="border border-emerald-400 m-4">
        <h1 class="title-primary m-4 ">Create the Store Articles for this store</h1>
        <form action="" class="m-4 *:text-gray-500" method="POST">
            <label for="articles" class="sub-title-primary">Insert the articles or single one</label>
            <p class="text-white">If you want to insert multiples articles the input data need to follow this way: "articlex, articlesy, articlez"
                                    <br>If only one articles, just put the name of article
            </p>

            <input type="text" name="create_articles" class="form-control-1">
            <button class="btn-primary">Create</button>
        </form>

    </div>
    <div class="flex-col m-4 border">
        {% if context.articles %}
        <form action="" method="post" class="m-4">
            <label for="reference_count" class="sub-title-primary"> Select the refence count</label>
            <select name="reference_count" id="" class="form-control-1">
                {% for date, value in context.count_dates.items() %}
                    <option value="{{date}}">{{value}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn-primary">View</button>
        </form>
        <form action="" class="m-4 " method="POST">
            <table class="w-full">
                <tr class="*:border *:border-emerald-400 *:text-2xl *:text-white">
                    <th>Article</th>
                    <th>Reference Count</th>
                    <th>Current count</th>
                    <th>Difference</th>
                    <th>New Count</th>
                </tr>
                {% for article in context.articles %}
                    <tr class="*:border *:border-emerald-400 *:text-center hover:bg-slate-200 *:hover:text-black *:hover:font-bold ">
                        <td class="text-emerald-400 font-bold">{{article}}</td>
                        <td class="text-yellow-400">{{context.reference_count.get(article, 0)}}</td>
                        <td class="text-red-400">{{context.store_stock.get(article, 0)}}</td>
                        <td class="text-blue-400">{{context.difference.get(article, 0)}}</td>
                        <td class="w-[15%]">
                            <input type="number" class="form-control-1" name="{{article}}">
                        </td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="flex justify-center w-full">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tfoot>
            </table>
    
            {% else %}
                <p>No articles in stock</p>
            {% endif %}
        </form>
        
    </div>
    <div>
        <canvas id="ccc"></canvas>
    </div>
    <script>
        var articles = {{ context.articles | safe }};
        var data_stock = {{ context.data_to_chart['data'] | tojson | safe}};
        var dates = {{ context.data_to_chart['date'] | safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/stock.js"></script>

    
{% endblock content %}