<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-900 h-full " id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        
    {% endblock title %}
    {% block script %}
     
    {% endblock script %}
    <link rel="stylesheet" href="/static/output.css">
    
</head>
<h1></h1>
<body class="w-full h-full">
    <nav class="dark:bg-slate-800 w-full h-fit flex flex-wrap mb-4">

        <div class="flex justify-center items-center w-4/12">
            <a href="/homepage" class="btn-primary w-fit p-2 rounded-xl">
                Homepage
            </a>
        </div>

        <div class="flex text-center items-center justify-center w-4/12 space-x-4">
            <h1 class="title-primary text-black m-0 bg-emerald-400 rounded-xl p-1 text-nowrap">
                    {{current_user.username}}
            </h1>

        </div>
        
        <div class="flex justify-center items-center space-x-4 w-4/12">
            <div class="visible">
                <a href="{{ url_for('auth.logout')}}" class="btn-primary p-2 rounded-xl">
                    Loggout
                </a>
            </div>
        </div>
        <div class="flex items-center justify-center w-full">
            {% block store_title %}
            {% endblock store_title %}
        </div>
        
    </nav>
    
    <div class="h-fit min-h-[100vh]">
        {% block content %}

        {% endblock %}
    </div>
     
    
    <footer class="dark:bg-gray-800 w-full h-fit pb-4  bg-slate-500 bottom-0 space-y-3">
        <div class="flex justify-center
        md:flex md:justify-center md:w-full md:items-center">
            <h1 class="text-emerald-500 font-semibold text-lg ">Created By Thawan Henrique</h1>
        </div>
        <div class="grid grid-cols-6 *:font-bold *:text-center
        md:flex md:justify-around md:items-center">
            <a href="" class="col-span-3">Instagram</a>
            <a href="" class="col-span-3">Youtube</a>
            <a href="" class="col-start-2 col-span-2">Linkedin</a>
            <a href="" class="col-start-4 col-span-2">Github</a>

        </div>

        
        
        
    </footer>


    
</body>

</html>