{% extends "base.html" %}

{% block title %}
<title>Daily Tasks</title>
{% endblock title %}

{% block content %}

{% set tasks = context.all_tasks %}
{% set tasks_to_do = context.to_do %}





<div class="container-primary">
    <table class="bg-slate-300 w-full">
        <thead class="">
            <tr class="thead-primary">
                <td>
                    Task
                </td>
                <td>
                    Action
                </td>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr class="*:font-bold">
                <td>
                    {{task.name}}
                </td>
                <td>
                    <textarea name="" id="" rows="4">
                        {{task.description}}
                    </textarea>
                </td>
                <td>
                    <input type="checkbox" name="" id="" {% if task.active %} checked {%endif%}
                    class="checkbox-primary">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form action="{{url_for('tasks.daily_task.create')}}" method="post">
    <div class="grid">
        <label for="name" class="col-span-4">Task name</label>
        <input type="text" name="name" class="form-control-2 col-span-4">

        <label for="description" class="col-span-4">Task Description</label>
        <textarea name="description" id="" class="form-control-2 col-span-4"></textarea>
        <button type="submit" class="btn-primary col-span-2 col-start-2">Create</button>
    </div>
</form>
{% endblock content %}