{% extends "base.html" %}

{% block content %}

<div class="m-4 border min-h-full max-h-fit">
    <section class="w-full flex">
        <div class="w-3/6 h-96 m-4 border ">

            <header class="m-4">
                <h1 class="w-full text-center title-primary">Old data</h1>
            </header>
            <form action="" class="flex flex-col">
                <label for="">username</label>
                <input type="text" name="old_username" id="" placeholder="{{old_data['username']}}">

                <label for="">Old password</label>
                <input type="password" name="old_username" id="" placeholder="{{old_data['password']}}">
                
                <label for="">Old email</label>
                <input type="text" name="old_username" id="" placeholder="{{old_data['email']}}">
            </form>

        </div>
        <div class="w-3/6 h-96 m-4 border ">

            <header class="m-4">
                <h1 class="w-full text-center title-primary">New data</h1>
            </header>
            <form action="">
                <input type="text">
            </form>
    
        </div>

    </section>
    
    <div class="border m-4 h-56">

    </div>

    

</div>

{% endblock %}