{% extends "base.html" %}~

{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block store_title %}
    <div class="h-full flex items-center justify-center">
        {% if stores[store_to_show|int] ==  data['store_name'] %}
            <h1 class="text-emerald-500 font-semibold text-lg text-center"> Gestão {{data['store_name']}} </h1>
        {% else %}
            <h1 class="text-red-400 font-semibold text-lg text-center" title="The user store is different of the store that will receive the production"> Gestão {{ stores[ store_to_show|int ] }}* </h1>
        
        {% endif %}
    </div>
{% endblock %}

{% block user_title %}
    <div class="w-auto h-full flex items-center " id="admin">
        <!-- Name with admin or not -->
        <div class="-space-y-1 flex flex-col items-center">
            <h1 class="text-emerald-500 font-semibold text-lg">{{data['username']}}</h1>
            <h4 class="text-white font-semibold text-sm">{{data['level']}}</h4>
        </div>
        
        
    </div>
    <div class="w-auto h-full flex items-center underline">
        <form action="/logout" method="POST">
            <button type="submit" class="btn-primary-logout">Log Out</button>
        </form>
    </div>
{% endblock %}

{% block content  %}
    <!-- Can´t edit if not admin -->
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}

                    <div class="w-full flex justify-center">
                        <div class="w-5/6 h-48 border border-emerald-500 m-4">
                            <h1 class="m-4 text-white"> {{ message }}</h1>
                        </div>
                        
                    </div>
                        
                    {% endfor %}
                {% endif  %}
            {% endwith %}
    
    <!-- Search Bar if admin -->
    {% if data['level'] == 'Administrador' %}
    <div class="w-full h-8 flex justify-center mb-4 space-x-1">
        <div class="w-1/6">
            <h1 class="select-primary p-0 h-full flex justify-center items-center ">Select an store</h1>
        </div>
        <form action="/homepage/{{date_for}}/{{store_to_show}}" class="flex" method="post">
            
            <select name="store_by_select_form" id="" class="select-primary w-44 p-0 text-center h-full">
                {% for store_id, store_name in data['stores'].items() %}
                    {% if store_id == store_to_show|int  %}
                        <option value="{{ store_id }}" selected>{{ store_name }}</option>
                    {% else %}
                        <option value="{{ store_id }}" >{{ store_name }}</option>
                {% endif %}

                {% endfor %}
            </select>
            
            <button type="submit" class="btn-primary-rounded w-20 my-0 ml-1 h-full">Show</button>
        </form>
    </div>
    {% endif %}
    <!-- Production Card -->
    <div class="w-full flex justify-center">
        <!-- Container -->
        <div class="w-5/6 border border-emerald-500">
            <div class="w-full h-8 flex items-center m-4">
                <h1 class="font-bold text-emerald-500 text-2xl">Enter the Production</h1>
            </div>

            <form action="/production/{{ date_for }}/{{ store_to_show }}" class="flex flex-col m-4" method="POST" id="production-form">
                {% for article, article_name in data['articles'].items() %}
                <!-- Inputs of production -->
                    <div class="w-full flex justify-between">
                        <div class="w-3/6">
                            <label for="{{article}}" class="text-lg text-white font-semibold"> {{article_name}}</label>
                            <input type="number" name="{{article}}" class="form-control-1" value="0" id="{{article}}" >  
                        </div>
                        <div class="w-2/5">
                            {% if article == 'big_ball' %}
                            <div class="h-7 ">
                                <label for="amount_{{article}}" class="text-sm text-white font-semibold sm:text-sm  ">Total of the day</label>
                            </div>
                                
                                <input type="number" value="{{ data['total_of_the_day'][article] }}" class="form-control-1 text-center" disabled>
                            {% else %}
                                <div class="h-7 w-full"></div>
                                <input type="number" value="{{ data['total_of_the_day'][article] }}" class="form-control-1 text-center" disabled>
                            {% endif %}
                        </div>

                        


                    </div>
                {% endfor %}
                <div class="w-full">
                    <button type="button" class="btn-primary-rounded w-3/6" id="submit-production-btn">Send</button>
                </div>
                
            </form>
            <!-- Chart Js -->
            <div class="w-full">
                <div class="w-3/12">
                    <canvas id="myChart" ></canvas>
                </div>
                  
                  
                  
                  
                <h1 class="title-primary">Chaat</h1>
            </div>

        </div>
        
    </div>
    <!-- Consume Card -->
    <div class="w-full flex justify-center mt-4">
        <!-- Container -->
        <div class="w-5/6 border border-emerald-500">
            <div class="w-full h-8 flex items-center m-4">
                <h1 class="font-bold text-emerald-500">Enter your consume</h1>
            </div>

            <form action="/consume/{{date_for}}/{{store_to_show}}" class="flex flex-col m-4" method="POST">

                <label for="big_ball" class="text-lg text-white font-semibold">Slices</label>
                <input type="number" name="slice" class="form-control-1" value="0">

                <label for="big_ball" class="text-lg text-white font-semibold">Garlic Bread</label>
                <input type="number" name="bread" class="form-control-1" value="0">
                
                <label for="" class="text-lg text-white font-semibold">Worker</label>

                <select name="who_consume" id="" class="select-primary" >
                    {% for user in users %}
                    <option value="{{user['username']}}">{{user['username']}}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" class="btn-primary-rounded w-3/6">Send</button>
            </form>

        </div>
    </div>
    <!-- Wasted Items -->
    <div class="w-full flex justify-center mt-4">
        <!-- Container -->
        <div class="w-5/6 border border-emerald-500">
            <div class="w-full h-8 flex items-center m-4">
                <h1 class="font-bold text-emerald-500">Enter the Wasted</h1>
            </div>

            <form action="production" class="flex flex-col m-4">
                <label for="big_ball" class="text-lg text-white font-semibold">Slices</label>
                <input type="number" name="big_ball" class="form-control-1">
                <label for="big_ball" class="text-lg text-white font-semibold">Garlic Bread</label>
                <input type="number" name="big_ball" class="form-control-1">
            </form>

        </div>
    </div>

    <div class="w-full ">
        <form action="/users" class="w-full flex justify-center">
            <button type="submit" class="btn-primary w-5/6">Access users</button>
        </form>
        
    </div>

    <h1>{{ data['week'][1][0] }}</h1>
    <script>
        var dates = {{ data['week'][0] | tojson }}
        var big = {{ data['week'][1][0] | tojson }}
        var small = {{ data['week'][1][1] | tojson }}
        var garlic = {{ data['week'][1][2] | tojson }}
        var mozzarela = {{ data['week'][1][3] | tojson }}
        var edamer = {{ data['week'][1][4] | tojson }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
{% endblock %}
