{% extends "base.html" %}~

{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block store_title %}
    <div class="h-full flex items-center justify-center">
        {% if context['stores'][store_to_show | int ] ==  context['data']['store_name'] %}
            <h1 class="text-emerald-500 font-semibold text-lg text-center"> Gestão {{ context['stores'][store_to_show | int ]  }}</h1>
        {% else %}
            <h1 class="text-red-400 font-semibold text-lg text-center"
            title="The user store is different of the store that will receive the production"
            >Gestão {{ context['stores'][store_to_show | int ] }}* </h1>
        
        {% endif %}
    </div>
{% endblock %}

{% block user_title %}
    <div class="w-auto h-full flex items-center " id="admin">
        <!-- Name with admin or not -->
        <div class="-space-y-1 flex flex-col items-center">
            <h1 class="text-emerald-500 font-semibold text-lg">{{context['data']['username']}}</h1>
            <h4 class="text-white font-semibold text-sm">{{context['data']['level']}}</h4>
        </div>
        
        
    </div>
    <div class="w-auto h-full flex items-center underline">
        <form action="/logout" method="POST">
            <button type="submit" class="btn-primary-logout">Log Out</button>
        </form>
    </div>
{% endblock %}

{% block content  %}
    <!-- Can´t edit if not admin -->
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}

                    <div class="w-full flex justify-center">
                        <div class="w-5/6 h-48 border border-emerald-500 m-4">
                            <h1 class="m-4 text-white"> {{ message }}</h1>
                        </div>
                        
                    </div>
                        
                    {% endfor %}
                {% endif  %}
            {% endwith %}
    
    <!-- Search Bar if admin -->
    {% if context['data']['level'] == 'Administrador' %}
    <div class="w-full h-8 flex justify-center mb-4 space-x-1">
        <div class="w-1/6">
            <h1 class="select-primary p-0 h-full flex justify-center items-center ">Select an store</h1>
        </div>
        <form action="/homepage/{{date_for}}/{{store_to_show}}" class="flex" method="post">
            
            <select name="store_by_select_form" id="" class="select-primary w-44 p-0 text-center h-full">
                {% for store_id, store_name in context['data']['stores'].items() %}
                    {% if store_id == store_to_show|int  %}
                        <option value="{{ store_id }}" selected>{{ store_name }}</option>
                    {% else %}
                        <option value="{{ store_id }}" >{{ store_name }}</option>
                {% endif %}

                {% endfor %}
            </select>
            
            <button type="submit" class="btn-primary-rounded w-20 my-0 ml-1 h-full">Show</button>
        </form>
    </div>
    {% endif %}
    {# <!-- Alerts -->
    <div class="w-full flex justify-center">
        <div class="container-primary">
            {% for insight, insight_info in context['analyze'].items() %}
                <ol>
                    <li>{{insight_info}}</li>
                </ol>
            {% endfor %}
        </div>
    </div> #}
    <!-- Tasks Card -->
    <div class="w-full flex justify-center">
        <div class="container-primary">
            <div class="m-4">
                <h1 class="text-xl text-left title-primary">Tasks to do</h1>

                <div class="space-y-4">
                    {% if context['tasks'][0] %}
                        {% for task in context['tasks'][0] %}
                            <div class="flex justify-around container-primary w-full m-0 items-center
                            hover:border-emerald-800">

                                {% for task_name, task_description in task.items() %}
                                    <div class="w-[80%]">

                                        <h4 class=" sub-title-primary mt-0"> {{ task_name }}</h4>
                                        <h4 class="text-white">{{task_description}}</h4>
                                    </div>
                                

                                    <form action="/tasks/{{date_for}}/{{store_to_show}}/concluded" method="POST">
                                        <input type="text" name="{{task}}" hidden>
                                        <button type="submit" class="btn-primary m-0">Finish</button>
                                    </form>

                                    <form action="/tasks/{{date_for}}/{{store_to_show}}/delete" method="POST">
                                        <input type="text" name="{{task}}" hidden>
                                        <button type="submit" class="btn-primary m-0">Delete</button>
                                    </form>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else  %}
                        <h1 class="sub-title-primary">Empty to do list</h1>
                    {% endif %}
                    
                    <h1 class="title-primary text-xl">Concluded tasks</h1>
                    <ul class="*:border *:border-yellow-300 *:w-fit">
                        {% for concluded_task in context['tasks'][1] %}
                        <li class="line-through font-semibold text-emerald-200">{{concluded_task}}</li>
                     
                        {% endfor %}
                    </ul>
                    
                    
                </div>
                

                <form action="/tasks/{{date_for}}/{{store_to_show}}/create" method="POST" class="mt-4">
                    <label for="task_to_send" class="sub-title-primary">Add some task</label>
                    <input type="text" name="task_to_send">

                    <label for="task_to_send" class="sub-title-primary">description</label>
                    <input type="text" name="task_description">
                    <button type="submit" class="btn-primary"> Create task </button>
                </form>
                    
            </div>
            
        </div>
    </div>  
    


    <!-- Production Card -->
    <div class="w-full flex justify-center">
        <!-- Container -->
        <div class="w-5/6 border border-emerald-500">
            <div class="w-full h-8 flex items-center m-4">
                <h1 class="font-bold text-emerald-500 text-2xl w-full">Enter the Production</h1>
            </div>
            <section class="flex w-full">
                <form action="/production/{{ date_for }}/{{ store_to_show }}" class="flex flex-col w-3/6 m-4" method="POST" id="production-form">
                    {% for article, article_name in context['data']['articles'].items() %}
                    <!-- Inputs of production -->
                        <div class="w-full flex justify-between">
                            <div class="w-[50%]">
                                <label for="{{article}}" class="text-sm text-white font-semibold"> {{article_name}}</label>
                                <input type="number" name="{{article}}" class="form-control-1" value="0" id="{{article}}" >  
                            </div>
                            <div class="w-2/5">
                                {% if article == 'big_ball' %}
                                <div class="h-7 ">
                                    <label for="amount_{{article}}" class="text-sm text-white font-semibold sm:text-sm  ">Total of the day</label>
                                </div>
                                    
                                    <input type="number" value="{{ context['data']['total_of_the_day'][article] }}" class="form-control-1 text-center" disabled>
                                {% else %}
                                    <div class="h-7 w-full"></div>
                                    <input type="number" value="{{ context['data']['total_of_the_day'][article] }}" class="form-control-1 text-center" disabled>
                                {% endif %}
                            </div>
    
                            
    
    
                        </div>
                    {% endfor %}
                    <div class="w-full">
                        <button type="button" class="btn-primary-rounded w-3/6" id="submit-production-btn">Send</button>
                    </div>
                    
                </form>
                <!-- Chart Js -->
                
    
                <div class="m-4 w-full">
                    <canvas id="myChart" class=""></canvas>
                </div>
    
            </section>
            
        </div>
        
        
    </div>
    <!-- Consume Card -->
    <div class="w-full flex justify-center mt-4">
        <!-- Container -->
        <div class="w-5/6 border border-emerald-500 flex ">
            <section class="w-3/6">
                <div class="w-full h-8 flex items-center m-4">
                    <h1 class="font-bold text-emerald-500">Enter your consume</h1>
                </div>
    
                <form action="/consume/{{date_for}}/{{store_to_show}}" class="flex flex-col m-4" method="POST">
    
                    <label for="big_ball" class="text-lg text-white font-semibold">Slices</label>
                    <input type="number" name="slice" class="form-control-1" value="0">
    
                    <label for="big_ball" class="text-lg text-white font-semibold">Garlic Bread</label>
                    <input type="number" name="bread" class="form-control-1" value="0">
                    
                    <label for="" class="text-lg text-white font-semibold">Worker</label>
    
                    <select name="who_consume" id="" class="select-primary" >
                        {% for user in context['workers'] %}
                        <option value="{{user['username']}}">{{user['username']}}</option>
                        {% endfor %}
                    </select>
                    
                    <button type="submit" class="btn-primary-rounded w-3/6">Send</button>
                </form>
            </section>


            <div class="w-3/6 m-4">
                <canvas id="consumeChart"></canvas>
            </div>

        </div>
    </div>
    <!-- Wasted Items -->
    <div class="w-full flex justify-center mt-4">
        <!-- Container -->
        <div class="w-5/6 border border-emerald-500">
            <div class="w-full h-8 flex items-center m-4">
                <h1 class="font-bold text-emerald-500">Enter the Wasted</h1>
            </div>

            <form action="/waste/{{date_for}}/{{store_to_show}}" method="POST" class="flex flex-col m-4">

                <label for="big_ball" class="text-lg text-white font-semibold">Big Ball</label>
                <input type="number" name="big_ball" class="form-control-1">

                <label for="big_ball" class="text-lg text-white font-semibold">Small Balls</label>
                <input type="number" name="small_ball" class="form-control-1">

                <label for="big_ball" class="text-lg text-white font-semibold">Garlic Bread</label>
                <input type="number" name="garlic_bread" class="form-control-1">

                <label for="big_ball" class="text-lg text-white font-semibold">Slices</label>
                <input type="number" name="slices" class="form-control-1">

                <select name="who_consume" id="" class="select-primary mt-4" >
                    {% for user in context['workers'] %}
                    <option value="{{user['username']}}">{{user['username']}}</option>
                    {% endfor %}
                </select>

                </select>
                <button type="submit" class="btn-primary">Enter</button>
            </form>

        </div>
    </div>

    <div class="w-full ">
        <form action="/users" class="w-full flex justify-center">
            <button type="submit" class="btn-primary w-5/6">Access users</button>
        </form>
        
    </div>

    <script>
        var labels = {{ context['weekly_data']['articles'] | tojson }}

        var data_labels = {{ context['weekly_data']['data_labels'] | tojson }}

        var dates = {{ context['weekly_data']['dates'] | tojson }}
        
        var consumeWorkers = {{ context['consume_data']['workers'] | tojson }}

        var consumeData = {{ context['consume_data']['data'] | tojson }}

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
{% endblock %}
