<!DOCTYPE html>
<html lang="en" class="
                    dark:bg-gray-900
                    h-screen w-screen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/output.css">
</head>
<body class="h-full">
    <div class="
                w-full h-full
                flex items-center
                justify-center">
        
        <!-- Login Container -->
        <div class="flex
                    w-auto h-auto
                    border dark:border-white border-gray-800 rounded-lg">
            <div class="w-3/6 dark:bg-transparent bg-green-200 m-4 rounded-lg">
                <div class="m-4">
                    <h1 class="text-emerald-500
                            font-bold text-2xl">Sistem Analise</h1>
                    <h4 class="dark:text-indigo-100  text-gray-800 mt-4
                            font-semibold text-lg">Insert your data to login</h4>
                </div>
                <div class="mx-4 my-10">
                    <form action="/login" method="post">
                        <input type="email" name="email" id="" class="form-control-1 w-full mt-4" required>
                        <input type="password" name="password" id="" class="form-control-1 w-full mt-4 " required>
                        <button type="submit" class="border border-emerald-500
                        text-sm font-semibold dark:text-indigo-100
                        w-full h-9 mt-4 dark:bg-green-500
                        hover:bg-emerald-500 hover:text-gray-800">Enter</button>
                    </form>
                </div>
                <div class="m-4">
                    <h4 class="dark:text-indigo-100 text-gray-800
                    font-semibold text-sm">Don't have an accouunt?</h4>
                    <a href="/register" class="
                    font-semibold text-sm text-emerald-600 hover:underline">Create Now</a>
                </div>
            </div>
            

            <div class="bg-emerald-500
                        w-3/6 h-auto m-4 rounded-lg
                        flex flex-col justify-center items-center
                        group group-hover:bg-emerald-900">
                <h1 class="group text-xl font-bold">Manage your Store</h1>
                <h1 class="group text-2xl font-semibold text-gray-300">Get the control</h1>

            </div>
            
        </div>
        
    </div>
</body>
</html>