<nav class="bg-gray-800 w-full h-12">
    <div class="h-full w-full flex justify-between">
        <div class="w-fit h-full flex items-center justify-center">
            <h1 class="text-white font-semibold text-lg ">Gestão {{data['store_name']}}</h1>
        </div>

        <div class="w-auto h-full flex items-center ">
            <!-- Name with admin or not -->
            <div class="-space-y-1 flex flex-col items-center">
                <h1 class="text-emerald-500 font-semibold text-lg">{{data['username']}}</h1>
                <h4 class="text-white font-semibold text-sm">{{data['level']}}</h4>
            </div>
            
            
        </div>
        <div class="w-auto h-full flex items-center underline">
            <a href="/loggout" class="text-red-500 font-semibold text-lg hover:text-emerald-800"">loggout</a>
        </div>
        
    </div>
    
</nav>