<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-900 h-full " id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        
    {% endblock title %}
    {% block script %}
     
    {% endblock script %}
    <link rel="stylesheet" href="/static/output.css">
    
</head>
<body class="h-full">
    {% if current_user.is_authenticated and login_flesh %}
    <nav class="dark:bg-slate-800 w-full h-fit flex flex-wrap mb-4">

        <div class="flex justify-center items-center w-4/12">
            <a href="/homepage" class="btn-primary w-fit p-2 rounded-xl flex items-center justify-center">Homepage</a>
        </div>

        <div class="flex text-center items-center justify-center w-4/12 space-x-4">
            <h1 class="title-primary text-black m-0 bg-emerald-400 rounded-xl p-1 text-nowrap">
                    {{current_user.username}}
            </h1>

        </div>
        
        <div class="flex justify-center items-center space-x-4 w-4/12">
            <div class="visible">
                <a href="{{ url_for('auth.logout')}}" class="btn-primary p-2 rounded-xl">
                    Loggout
                </a>
            </div>
        </div>
        <div class="flex items-center justify-center w-full">
            {% block store_title %}
            {% endblock store_title %}
        </div>
        
    </nav>
     
    {% endif %}
    
    
    {% block content %}
     
    {% endblock content %}

    </div>
     
    
</body>

</html>